<nav class="navbar sticky-top navbar-light bg-light navbar-expand-md" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Plunge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diveSpots">Dive Spots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diveSpots/new">New Dive Spot</a>
                    </li>
                </ul>
            </div>
            <div class="ms-auto d-flex align-items-center">
                <div class="ms-md-auto me-1 col-7 col-sm-5 col-md-auto">
                    <form method="get" action="/diveSpots" class="d-flex" role="search">
                        <input id="search-term" name="searchTerm" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                </div>
                <ul class="ms-auto navbar-nav">
                    <% if (typeof currentUser === "undefined") { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item dropdown">
                            <button class="btn no-toggle dropdown-toggle py-0" data-bs-toggle="dropdown" aria-expanded="false">
                                <img id="nav-profile-icon" src="/img/profile-icon.svg" alt="profile icon" >
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end">
                                <li><a class="dropdown-item" href="/logout">Logout, <%= currentUser.username %></a></li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>