<%- layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error <%= statusCode %>
            </h4>
            <p>
                <%= message %>
            </p>
            <% if (typeof stack !== "undefined") { %>
                <hr>
                <p class="mb-0">
                    <%= stack %>
                </p>
            <% } %>
        </div>
    </div>
</div>