body {
    background: linear-gradient(to bottom, #EEEAAA, #D4F7F7, #71D3F4);
    /* Fallback color if the gradient is not supported */
    background-color: #71D3F4;
    /* Ensures the gradient covers the entire viewport */
    background-attachment: fixed;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.navbar-light {
    background-color: #ece2c2 !important;
}

.plunge-footer {
    background-color: #5ad1f8;
}

#nav-profile-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.no-toggle.dropdown-toggle::after {
    display: none !important;
}