body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("https://res.cloudinary.com/the-lawlz/image/upload/v1768237016/Plunge/plunge-wallpaper-2.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}

.cover-container {
    max-width: 60vw;
}

.navbar {
    background-color: transparent;
}

.nav-link {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    text-decoration: underline 0.15em transparent;
    text-underline-offset: 0.5em;
    transition: text-decoration-color 500ms;
}

.nav-link.active {
    color: white;
    text-decoration: underline 0.15em white;
}

.nav-link:hover {
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
}