<%- layout("layouts/boilerplate") %>

<div class="row">
    <h1 class="text-center">New Dive Spot</h1>
    <div class="col-6 offset-3">
        <form action="/diveSpots" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="diveSpot[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="diveSpot[location]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="diveSpot[image]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="depth">Avg. Depth</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" id="depth" name="diveSpot[depth]" placeholder="0" aria-label="depth" aria-describedby="depth-units" required>
                    <span class="input-group-text" id="depth-units">ft</span>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="diveSpot[description]" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Dive Spot</button>
            </div>
        </form>
        <div>
            <a href="/diveSpots">All dive spots</a>
        </div>
    </div>
</div>